html{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    color: black;
    margin: 0;
}

header {
    background-color: white;
    position: relative;
    padding: 1rem;
}

hr {
    color: black;
    background: black; 
    width: 10%; 
    height: 5px;
    margin-left: 0;
}

nav hr {
    color: black;
    background: black;
    width:auto;
    height: 5px;
    margin-left: .5rem;
}
nav ul {
    list-style-type: none;
    position: relative
}

nav li {
    display: inline;
    margin-right: 0.5rem;
}

.logo {
    display: inline-flex;
}

.logo img {
    width: 30px;
    height: 30px;
}

.search-container {
    display: inline;
}

.about_us {
    position: relative;
    width: 80%;
    text-align: left;
}

.about_us img {
    width: 300px;
    height: 300px;
    float: left;
}

.about_us div{
    position: relative;
}
.our_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 65px;
    row-gap: 70px;
    position: relative;
}

.our_products a {
    color: #BF7631;
    position: relative;
}

.our_products p {
    width: 300px;
    height: 300px;
    margin: 0;
}

.our_products img {
    width: 300px;
    height: 300px;
}

.our_products button{
    background-color: #BF7631;
    color: white;
    border: none;
    outline: none;
    width: 100px;
    height: 15px;
}

.contact_us label{
    align-items: center;
}
.contact_us button{
    background-color: #BF7631;
    color: white;
    border: none;
    outline: none;
    align-items: right;
}
footer {
    background-color: #BF7631;
    color: white;
    max-width: fit-content;
    position: fixed;
}

footer img {
    width: 20px;
    height: 20px;
}

footer p {
    display: inline;
    justify-content: space-around;
}

