html{
    box-sizing: border-box;
}

header {
    background-color: white;
    position: relative;
    padding: 1rem;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    color: black;
    margin: 1rem, auto;
    width: 80%;
}

.banner img{
    width: 100%;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 20;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

hr {
    color: black;
    background: black; 
    width: 10%; 
    height: 5px;
    margin-left: 0;
}

nav {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
}

nav hr {
    color: black;
    background: black;
    width:auto;
    height: 5px;
    margin-left: .5rem;
}
nav ul {
    list-style-type: none;
    width: 100%;
}

nav li {
    display: inline;
    margin-right: 0.5rem;
}

.logo {
    display: inline-flex;
}

.logo img {
    width: 30px;
    height: 30px;
}

.search-container {
    display: inline;
}

.about_us {
    position: relative;
    width: 80%;
    text-align: left;
}

.about_us img {
    width: 300px;
    height: 300px;
    float: left;
}

.image2 {
    float: right;
}
.our_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 65px;
    row-gap: 70px;
    position: relative;
}

.our_products a {
    color: #BF7631;
    position: relative;
}

.our_products p {
    width: 300px;
    height: 100px;
    margin: 0.5rem;
}

.our_products img {
    width: 300px;
    height: 300px;
}

.our_products button{
    background-color: #BF7631;
    color: white;
    border: none;
    outline: none;
    width: 100px;
    height: 15px;
}

.contact_us label{
    align-items: center;
}
.contact_us button{
    background-color: #BF7631;
    color: white;
    border: none;
    outline: none;
    align-items: right;
}

.footer {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #bf7631;
  }
  
  .footer li {
    display: inline;
  }

